
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/getAllCategory.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AddNewCategory.css" asp-append-version="true" />
@*     <link rel="stylesheet" href="~/E_Commerce.styles.css" asp-append-version="true" /> *@

</head>
<body>
    <div class="Header">
        <h2>E-Commerce</h2>
        <Div class="Nav">
@*             <a  onclick="ChangeColor(this,event)">Home</a>
            <a  onclick="ChangeColor(this)">Offer</a>
            <a  onclick="ChangeColor(this,event)" asp-action="getAllCategory" asp-controller="Category">Category</a>
            <a  onclick="ChangeColor(this,event)" asp-action="getProductsAtPadge" asp-route-padgeNumber="1" asp-route-Category="All" asp-controller="Product">Product</a>
            <a  onclick="ChangeColor(this)">history</a>
            <a  onclick="ChangeColor(this)">Wishlist</a>
            <a  onclick="ChangeColor(this)">Cart</a>
            <a  onclick="ChangeColor(this)">Acount</a>
            <a  onclick="ChangeColor(this)">Logout</a> *@

            <a onclick="ChangeColor(this)" asp-action="Index" asp-controller="Home">Home</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">Category</a>
            <a onclick="ChangeColor(this)" asp-action="getProductsAtPadge" asp-route-padgeNumber="1" asp-route-Category="All" asp-controller="Product">Product</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">Offer</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">history</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">Wishlist</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">Cart</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">Acount</a>
            <a onclick="ChangeColor(this)" asp-action="getAllCategory" asp-controller="Category">Logout</a>
            <a onclick="ChangeColor(this)" asp-action="Register" asp-controller="Acount">Register</a>
        </Div>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">
        <h3>E-Commerce</h3>
        <h3>Created By Eng Ahmed Atef</h3>
        <h3>Contact : ahmedatefabdelazeem@gmail.com</h3>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/site.js"></script>

</body>
</html>










